@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --secondary-color: #001F8F;
    --principal-color: #000E42;
    --box-color: #002AC2;
    --text-color1: black;
    --text-color2: white;
    --shadow-button: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

input, select, textarea {
    color: white;
  }

.header__login {
    width: 100%;
    height: 40px;
    /* margin: 0 auto; */
    background-color: var(--text-color2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__login--links {
    width: 50%;
    padding-left: 20px;
}

.header__login--links a {
    text-decoration: none;
    color: var(--text-color1);
    font-size: 1.1rem;
    margin: 0 5px;
}

.header__login--links a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.header__login--links span {
    color:  var(--text-color1);
    font-size: 1.1rem;
}


.header__login--social {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    /* filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%); */
}

.header__login--social img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.header__search {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 2fr);
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background-color: var(--principal-color);
    border: none;
}

.header_search--title {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    justify-content: center;
    align-items: center;
    color: var(--text-color2);
    margin-top: 40px;
}

.header_search--title h1 {
    font-size: 1.6rem;
    letter-spacing: 5px;
}

.header_search--title h2 {
    font-size: 0.6rem;
    letter-spacing: 4px;
    margin-top: 5px;
}

.header__search--button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.header__search--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--text-color2);
}

.header__search--button input {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
}

.header__search--button input::placeholder {
    color: var(--text-color2)
}

.header__search--button img {
    width: 20px;
    height: 20px; 
    filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
}

.header__search--buys {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}

.header__search--buys span {
    color: var(--text-color2);
    margin-right: 5px;
}

.header__search--buys-bold {
    font-weight: bold;
}

.header__search--buys img {
    width: 30px;
    height: 30px;
    filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
    margin-right: 10px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: var(--principal-color);
    border: none;
}

/* .header__nav:hover {
    background-color: var(--secondary-color);
} */

.header__nav--item {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__nav--item:hover {
    background-color: var(--secondary-color);
}

.header__nav--item a {
    text-decoration: none;
    color: var(--text-color2);
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5px;
}

.header__nav--item img {
    width: 15px;
    height: 15px;
    filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
}

.menu-item img{
    margin-top: 1px;
}

.menu-item span {
    margin-right: 5px;
}

main {
    width: 90%;
    margin: 0 auto;
}

.news__container {
    width: 100%;
    height: 400px;
    display: grid;
    gap: 10px;
    margin-top: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    color: var(--principal-color)
}

.news__trends {
    grid-column: 1 / 7;
    grid-row: 1 / 5;
    background-image: url('../assets/pics/foto1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news__trends--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* margin-left: 20px; */
    background-color: rgba(206,206,206,0.2)
}

.news__trends--info h1 {
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.news__trends--info p {
    margin: 0 auto;
    font-size: 1.2rem;
    width: 80%;
}

.news__trends--info button {
    width: 60%;
    margin: 15px auto;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: 1px solid var(--text-color2);
    color: var(--text-color2);
    box-shadow: var(--shadow-button);
}

.news__trends--info button:hover {
    background-color: var(--box-color);
}



.news__promo {
    grid-column: 1 / 4;
    grid-row: 5 / 8;
    background-image: url('../assets/pics/jeans.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.news__promo h3 {
    margin-top: 25px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.news__sale {
    grid-column: 4 / 7;
    grid-row: 5 / 8;
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color2)
}

.news__sale h2 {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.news__sale p {
    margin-bottom: 10px;
    width: 80%;
}

.news__sale button {
    margin-top: 10px;
    padding: 5px 8px;
    background-color: var(--secondary-color);
    color: var(--text-color2);
    border: 1px solid var(--text-color2);
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: var(--shadow-button)
}

.news__sale button:hover {
    border: 1px solid var(--principal-color);
    background-color: var(--text-color2);
    color: var(--principal-color);
}

.products__container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-top: 20px;
    gap: 10px;
    border-top: 1px solid rgb(196, 196, 196);
}

.products__explore {
    grid-column: 1 / 9;
    grid-row: 1 / 5;
}

.products__update {
    grid-column: 1 / 9;
    grid-row: 5 / 7;
}

.products__purse {
    grid-column: 1 / 9;
    grid-row: 7 / 9;
}

.products__explore {
    height: 550px;
}

.products__titles {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--principal-color);
    font-size: 1rem;
    height: 50px;
}

.products__explore--info {
    /* background-image: url(../assets/pics/couple.jpg); */
    /* opacity: 0.5; */
    position: relative;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--principal-color);
}

.products__explore--info::before {    
    content: "";
    background-image: url('../assets/pics/couple.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.products__explore--info h1 {
    position: relative; 
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.products__explore--info p {
    width: 85%;
    position: relative;
    font-size: 1.4rem;
    margin-bottom: 0 auto;
}

.products__explore--info button {
    position: relative;
    padding: 10px 15px;
    background-color: transparent;
    border: 3px solid var(--principal-color);
    margin-top: 40px;
    color: var(--principal-color);
    font-weight: bold;
    box-shadow: var(--shadow-button);
}


.products__explore--info button:hover {
    background-color: var(--principal-color);
    color: var(--text-color2);
    box-shadow: var(--shadow-button);
}

.products__update--info {
    width: 100%;
    height: 220px;
    background: url('../assets/pics/boots.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products__purse--info {
    width: 100%;
    height: 220px;
    background: url('../assets/pics/purse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carrousel__container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: scroll;
    border-top: 1px solid rgb(196, 196, 196);
    margin-top: 20px;
}

.carrousel__container--bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.carrousel__container--bar a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 10px;
    font-weight: bold;
}

.carrousel__container--bar a:hover {
    text-decoration: underline;
}

.carrousel__item-container {
    white-space: nowrap;
    margin: 5px 0px;
    padding-bottom: 10px;
}

.carrousel__item {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 0 40px;
}

.carrousel__item img {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}


